/*
Theme Name: Hello Elementor Child
Theme URI: https://elementor.com/hello-theme/?utm_source=wp-themes&utm_campaign=theme-uri&utm_medium=wp-dash
Template: hello-elementor
Author: Elementor Team
Author URI: https://elementor.com/?utm_source=wp-themes&utm_campaign=author-uri&utm_medium=wp-dash
Description: A lightweight and minimalist WordPress theme for Elementor page builder.
Tags: accessibility-ready,flexible-header,custom-colors,custom-menu,custom-logo,featured-images,rtl-language-support,threaded-comments,translation-ready
Version: 2.8.1.1690804847
Updated: 2023-07-31 14:00:47

*/
.e-wc-info-notice .woocommerce-info {
	padding: 10px!important;
	font-size: 18px;
} 

.limited-subscription-notice {
	text-align: center;
}
p.order-again {
    display: none;
}
.current-post {
    font-weight: bold;
}

.products.columns-4 {
    display: flex;
    align-items: stretch;
}
.woocommerce ul.products li.product {
    border: solid 1px #E7E7E7;
	border-radius: 6px;
	background-color:#FFFFFFBF;
	padding:15px;
}
ul.ingredientes {
  list-style-type: none;
  padding: 0;
}

.blanch {
	background-color: #CBF5FF;
}
thead {
	display:none
}
td.membership-content-content {
    width: 40%;
    text-align: left;
    vertical-align: middle;
}

td.membership-content-image {
    width: 40%;
    text-align: center;
}

td.membership-content-actions.order-actions {
    vertical-align: middle;
}

tr.membership-content{
	background-color: #FFF;
}

a.button.view {
    background-color: #FCBF49;
    padding: 5px 20px;
    font-weight: 400;
    color: black;
    font-size: 15px;
}
/*Estilos woocommerce*/
.woocommerce ul.products li.product .button {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    fill: #333333;
    color: #333333;
    background-color: #fcbf49;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}
.woocommerce .products ul, .woocommerce ul.products {
    text-align: center;
}
.woocommerce .product .price {
     color: var(--e-global-color-primary);
	font-size:16px;
	text-decoration:none;
}

.woocommerce ul.products li.product .price del {
    color: #bbb;
    opacity: 1;
	font-weight:600;
    display: block;
}
.precio-especial {
  font-size: 13px;
  color: #a4a4a4;
display:block;
}
.precio {
    color:#cf1015;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}
.precio del {
    display: block;
    color: #979797;
    font-family: "Montserrat", Sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.precio ins {
    color: inherit;
    font-size: 25px;
    text-decoration: none;
}
/*Anchors tabla de contenidos

html, body {
    scroll-padding-top: 370px;
}

@media (max-width: 1024px) {
    html, body {
        scroll-padding-top: 370px;
    }
}

@media (max-width: 767px) {
    html, body {
        scroll-padding-top: 660px;
    }
}
*/

table td, table th {
    padding: 6px;
    font-size: 13px;
    line-height: 1em;
}

#my-table tbody tr {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

#my-table td {
	border:none;
	background-color:#fff;
    }

@media (max-width: 767px) {
    #my-table tbody tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #my-table td,
    #my-table th {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
    }
}
/*etiquetas descuento*/

.pdp-promo-name {
     color: #fff;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
        /*margin-right:-2px;*/
    /*padding: 5px;*/
    background-color: #f8561d!important;
    border-radius: 5px 0px 5px 0px;
}*/
/*Colores Promos
.elementor-74 .elementor-element.elementor-element-8374e0d .cart button, .elementor-74 .elementor-element.elementor-element-8374e0d .cart .button ,.woocommerce ul.products li.product .button,.cart .button {
    color: #000!important;
    background-color: #f9ea3b!important;
}
/*.price ins {
    color: #cdc100!important;*/
}

/*fin colores promos*/
/* Oculta el contenedor solo cuando tiene la clase "empty" 
.pdp-promo-name.empty {
   display: none;
}*/

small.woocommerce-price-suffix {
    color: yellow !important;
    font-size: 13px !important;
    font-family: 'Roboto Condensed', sans-serif !important;
}


.added_to_cart.wc-forward {
 display:none;
}
/**/
.woosb-products .woosb-product {
    /*display: ;*/
    align-items: left;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px dotted #e5e5e5;
}

.woosb-products .woosb-product .woosb-thumb {
    width: 100px;
    flex: 0 0 50px;
}

.woosb-products .woosb-product .woosb-title .woosb-name a {
    text-decoration: none;
    font-size: 20px;
    box-shadow: none;
}


.woosb-products .woosb-product .woosb-price {
    /* width: 100px; */
    flex: 0 0 100px;
    /* text-align: end; */
}

@media (max-width: 767px) {
   .pdp-promo-name {
    font-size: 12px;
}}

#float-whatsapp {
	position:fixed;
	bottom:40px;
	right:40px;
	z-index:9;	
}
/*Media queries*/


